<%- include("partials/header"); -%>
      <div class="card">
        <div class="card-header text-center">
            <h1>About NSS</h1>
        </div>
        <div class="card-body" style="margin: 50px; padding: 20px;" >
            <div id="list-example" class="list-group" >
                <a class="list-group-item list-group-item-action" href="#list-item-1">Objectives</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Moto</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Symbol</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Coverage</a>
                <a class="list-group-item list-group-item-action" href="#list-item-5">Badges</a>
              </div>
              <div style="margin: 80px; padding: 40px; " data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example" >
                <h4 id="list-item-1">Objective</h4>
                <p>
                    <p><strong>1.</strong><span>&nbsp;</span>Understand the community in which they work</p>
                            <p><strong>2.</strong><span>&nbsp;</span>Understand themselves in relation to their community</p>
                            <p><strong>3.</strong><span>&nbsp;I</span>dentify the needs and problems of the community and involve them in problem-solving</p>
                            <p><strong>4.</strong><span>&nbsp;</span>Develop among themselves a sense of social and civic responsibility</p>
                            <p><strong>5.</strong><span>&nbsp;</span>Utilise their knowledge in finding practical solutions to individual and community problems</p>
                            <p><strong>6.</strong><span>&nbsp;</span>Develop competence required for group-living and sharing of responsibilities</p>
                            <p><strong>7.</strong><span>&nbsp;G</span>ain skills in mobilising community participation</p>
                            <p><strong>8.</strong><span>&nbsp;A</span>cquire leadership qualities and democratic attitudes</p>
                            <p><strong>9.</strong><span>&nbsp;</span>Develop capacity to meet emergencies and natural disasters</p>
                            <p><strong>10.</strong><span>&nbsp;</span>Practise national integration and social harmony</p>
                    
                </p>
                <h4 id="list-item-2">Moto</h4>
                <p><ul>
                    <li>The Motto of NSS “Not Me But You”, reflects the essence of democratic living and upholds the need for self-less service.</li>
                    <li>NSS helps the students develop appreciation to other persons points of view and also show consideration to other living beings.</li>
                    <li>The philosophy of the NSS is well doctrined in this motto, which underlines on the belief that the welfare of an individual is ultimately dependent on the welfare of the society on the whole and therefore, the NSS volunteers shall strive for the well-being of the society.</li>
                </ul></p>
                <h4 id="list-item-3">Symbol</h4>
                <p>
                    <ul>
                        <li><span>The symbol for the NSS has been based on the giant Rath Wheel of the world-famous Konark Sun Temple (The Black Pagoda) situated in Orissa, India. </span></li>
                        <li><span>The wheel portrays the cycle of creation, preservation, and release and signifies the movement in life across time and space. The symbol thus stands for continuity as well as change and implies the continuous striving of NSS for social change.</span></li>
                        </ul>
                </p>
                <h4 id="list-item-4">Coverage</h4>
                <p><ul>
                    <li><span>Started initially in 37 universities involving 40,000 volunteers, the scheme has grown over the years and it is implemented today with an involvement of more than 2.6 million volunteers spread over&nbsp;</span><em>in 200</em><span>&nbsp;Universities, Polytechnics, and +2 Systems. </span></li>
                    <li><span>The efforts of NSS volunteers have been widely acclaimed by the community, universities, colleges, and the general public as the NSS volunteers have been rendering selfless service to the community.</span></li>
                    </ul></p>
                <h4 id="list-item-5">Badges</h4>
                <p><ul>
                    <li><span>The NSS Symbol is embossed on the badge.</span></li>
                    <li><span>The eight bars in the wheel represent the 24 hours of a day</span></li>
                    <li><span>The red colour indicates that the volunteer is full of young blood that is lively, active, energetic and full of high spirit.</span></li>
                    <li><span>The navy blue colour indicates the cosmos of which the NSS is tiny part, ready to contribute its share for the welfare of the mankind</span></li>
                    </ul></p>
              </div>
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
<%- include("partials/footer"); -%>