<%- include("partials/header"); -%>

<div class="container">
    <h1>Add Event Details</h1>
    <form class="add" action="/compose" method="post">
        <div class="form-group">
            <label for="">Event ID</label>
            <input type="text"  class = "form-control"   name="EID" required>
            <br>
            <label for="">Title</label>
            <input type="text"  class = "form-control"   name="title" required>
            <label for="">Date:</label>
            <br>
            <input type="date" name="date" required>
            <br>
            <label for="" >Time</label><br>
            <input type="time" name="stime" required>
            <span> to </span>
            <input type="time" name="etime" required>
            <br>
            <label for="">Location</label>
            <input type="text"  class = "form-control"   name="loc" required>
            <br>
            <label for="">Location Link</label>
            <input type="text"  class = "form-control"   name="loclin" >
            <br>
            <label for="">Description</label>
            <textarea name="des" class  = "form-control" rows="5" cols="30" required></textarea>

        </div>
        <button class="btn btn-primary" type="button" name="submit"  data-toggle="modal" data-target="#exampleModalCenter">Publish</button>
        <input class="btn btn-secondary" type="reset">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Event created!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Event has been created succesfully
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
          </div>
        </div>
                
    </form>
</div>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
    import { getDatabase, set, ref, update } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-database.js";
    import { getFirestore, collection, getDocs, getDoc,addDoc, doc, onSnapshot, query, where, setDoc }from "https://www.gstatic.com/firebasejs/9.17.1/firebase-firestore.js";

const firebaseConfig = {
apiKey: "AIzaSyCXKVJ6WCQLu4YcFFFzIEinpvD3DYJNrnE",
authDomain: "nssproject-84888.firebaseapp.com",
projectId: "nssproject-84888",
storageBucket: "nssproject-84888.appspot.com",
messagingSenderId: "624213256954",
appId: "1:624213256954:web:e5e6046cfa50e24885b743"
};

// Initialize Firebase
initializeApp(firebaseConfig);
//init services
const db = getFirestore();
const colRef = collection(db,'Eventsofnss')


let docid;
var name = localStorage.getItem("userlogin");
var role = localStorage.getItem("role");
const addEventFrom = document.querySelector('.add')
addEventFrom.addEventListener('submit',(e) => {
    e.preventDefault()
    addDoc(colRef,{
        title: addEventFrom.title.value,
        date: addEventFrom.date.value,
        start: addEventFrom.stime.value,
        end: addEventFrom.etime.value,
        description: addEventFrom.des.value,
        location: addEventFrom.loc.value,
        link: addEventFrom.loclin.value,
        idevent: addEventFrom.EID.value,
        name: name,
        role: role
        
    })
    
    .then(function(docRef) {
    console.log("Document written with ID: ", docRef.id);
    docid = docRef.id;
    
    console.log("Document written with ID: ", docid);
    console.log( docid);
     // Add a new document in collection "cities" with "LA" as id
     setDoc(doc(db, "Attendance", docid), {
    
    });
    addEventFrom.reset()

    })
    .catch(function(error) {
        console.error("Error adding document: ", error);
    });
    
})



   

</script>
    <%- include("partials/footer"); -%>