<%- include("partials/header"); -%>



<div class="box box-sizing " style="display: flex;align-items: center;justify-content: center;">
    <section >
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div>
                <div class="card-body p-md-4">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                         
                      <p class="text-center h1 fw-bold ">Sign up</p><br>
                        
                      <form action="/signup" method="post" class="mx-1 mx-md-4">
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" name="name" placeholder="Name" class="form-control">
                            <label class="form-label" >Username</label>
                          </div>
                        </div>
      
                        
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password"  name="password" class="form-control" />
                            <label class="form-label" >Password</label>
                          </div>
                        </div>
                        
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" >Role</label>
                            <select name="role" id="role">
                              <option value="user">Student</option>
                              <option value="admin">Admin</option>
                              <option value="student coordinator">Student Coordinator</option>
                              
                            </select>
                            
                          </div>
                        </div>
                       
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                           <input class="btn btn-primary btn-lg" type="submit">
                          
                        </div>
      
                      </form>
      
                    </div> 
                     
                     
                         
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

</div>


<%- include("partials/loginfooter"); -%>